#professional .portfolio-left li:nth-child(4),
#professional .portfolio-left li:nth-child(7),
#professional .portfolio-left li:nth-child(9),
#professional .portfolio-left li:nth-child(10) {
	width: 100%;
}

#professional .portfolio-left li:nth-child(2),
#professional .portfolio-left li:nth-child(3),
#professional .portfolio-left li:nth-child(5),
#professional .portfolio-left li:nth-child(6) {
	width: 49.75%;
}

@media screen and (max-width: 1280px) {  
#professional .portfolio-left li:nth-child(2),
#professional .portfolio-left li:nth-child(3),
#professional .portfolio-left li:nth-child(5),
#professional .portfolio-left li:nth-child(6) {
	width: 49.5%;
}
}
