#seniors .portfolio-left li
 {
  width: 100%
}

#seniors .portfolio-left li:nth-child(2),
#seniors .portfolio-left li:nth-child(3),
#seniors .portfolio-left li:nth-child(5),
#seniors .portfolio-left li:nth-child(6),
#seniors .portfolio-left li:nth-child(10),
#seniors .portfolio-left li:nth-child(11),
#seniors .portfolio-left li:nth-child(12),
#seniors .portfolio-left li:nth-child(13),
#seniors .portfolio-left li:nth-child(14),
#seniors .portfolio-left li:nth-child(15),
#seniors .portfolio-left li:nth-child(19),
#seniors .portfolio-left li:nth-child(20),
#seniors .portfolio-left li:nth-child(21),
#seniors .portfolio-left li:nth-child(22),
#seniors .portfolio-left li:nth-child(23),
#seniors .portfolio-left li:nth-child(24),
#seniors .portfolio-left li:nth-child(26),
#seniors .portfolio-left li:nth-child(27),
#seniors .portfolio-left li:nth-child(29),
#seniors .portfolio-left li:nth-child(30),
#seniors .portfolio-left li:nth-child(31),
#seniors .portfolio-left li:nth-child(32),
#seniors .portfolio-left li:nth-child(33),
#seniors .portfolio-left li:nth-child(34),
#seniors .portfolio-left li:nth-child(37),
#seniors .portfolio-left li:nth-child(38),
#seniors .portfolio-left li:nth-child(39),
#seniors .portfolio-left li:nth-child(40),
#seniors .portfolio-left li:nth-child(45),
#seniors .portfolio-left li:nth-child(46),
#seniors .portfolio-left li:nth-child(47),
#seniors .portfolio-left li:nth-child(48),
#seniors .portfolio-left li:nth-child(49),
#seniors .portfolio-left li:nth-child(50),
#seniors .portfolio-left li:nth-child(52),
#seniors .portfolio-left li:nth-child(53)

 {
  width: 49.75%
}

#seniors .portfolio-right li {
	width: 100%;
}

#seniors .portfolio-left {
	z-index: 9999999;
}



#seniors .portfolio-left {
	position: relative;
}


@media screen and (max-width: 1280px) { 
	#seniors .portfolio-left li:nth-child(2),
#seniors .portfolio-left li:nth-child(3),
#seniors .portfolio-left li:nth-child(5),
#seniors .portfolio-left li:nth-child(6),
#seniors .portfolio-left li:nth-child(10),
#seniors .portfolio-left li:nth-child(11),
#seniors .portfolio-left li:nth-child(12),
#seniors .portfolio-left li:nth-child(13),
#seniors .portfolio-left li:nth-child(14),
#seniors .portfolio-left li:nth-child(15),
#seniors .portfolio-left li:nth-child(19),
#seniors .portfolio-left li:nth-child(20),
#seniors .portfolio-left li:nth-child(21),
#seniors .portfolio-left li:nth-child(22),
#seniors .portfolio-left li:nth-child(23),
#seniors .portfolio-left li:nth-child(24),
#seniors .portfolio-left li:nth-child(26),
#seniors .portfolio-left li:nth-child(27),
#seniors .portfolio-left li:nth-child(29),
#seniors .portfolio-left li:nth-child(30),
#seniors .portfolio-left li:nth-child(31),
#seniors .portfolio-left li:nth-child(32),
#seniors .portfolio-left li:nth-child(33),
#seniors .portfolio-left li:nth-child(34),
#seniors .portfolio-left li:nth-child(37),
#seniors .portfolio-left li:nth-child(38),
#seniors .portfolio-left li:nth-child(39),
#seniors .portfolio-left li:nth-child(40),
#seniors .portfolio-left li:nth-child(45),
#seniors .portfolio-left li:nth-child(46),
#seniors .portfolio-left li:nth-child(47),
#seniors .portfolio-left li:nth-child(48),
#seniors .portfolio-left li:nth-child(49),
#seniors .portfolio-left li:nth-child(50),
#seniors .portfolio-left li:nth-child(52),
#seniors .portfolio-left li:nth-child(53)

 {
  width: 49.5%
}
}